{% extends "layout.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12" id="index_buttons">
        <a href="/logout" class="btn btn-primary" id="logout_button">Logout</a>
    </div>
</div>
<div class="row" id="products_page">
    <div class="col-md-12">
        <hr>
        <h1>Order Confirmed!</h1>
        <h2>Your Total: ${{ total_cost }}</span></h2>        
        <br>
        <h2>Order Details:</h2>
        {% if customer_info %}
        <p> {{ customer_info['first_name'] }} {{ customer_info['last_name'] }} </p>
        <p>{{ customer_info['phone_number'] }}</p>
        <p>{{ customer_info['email'] }}</p>
        <p>{{ customer_info['shipping_address'] }}</p>
        {% else %}
            <p>No customer information found.</p>
        {% endif %}
        <table>
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Quantity</th>
                    <th>Customization Options</th>
                    <th>Price</th>
                    <th>Image</th>
                </tr>
            </thead>
            <tbody>
                {% for item, details in order.items() %}
                    <tr>
                        <td>{{ item }}</td>
                        <td>{{ details['count'] }}</td>
                        <td>
                            {% if details['flavor'] %}
                                {{ details['flavor'] }}: +${{details['customization_cost_flavor']}} <br>
                            {% endif %}
                            {% if details['toppings'] %}
                                {{ details['toppings'] }}: +${{details['customization_cost_toppings']}}<br>
                            {% endif %}
                            {% if details['fillings'] %}
                                {{ details['fillings'] }}: +${{details['customization_cost_fillings']}}
                            {% endif %}
                        </td>
                        <td>${{ details['cost'] }}</td>
                        <td><img src="{{ details.image_url }}" class="product_card-img" style="float: left; height: 100px; width: 100px;"></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- <script>
    function applyDiscount() {
        var totalCostElement = document.getElementById('total_cost');
        var discountStatusElement = document.getElementById('discount_status');
        var applyDiscountButton = document.getElementById('apply_discount_btn');

        var currentTotalCost = parseFloat(totalCostElement.innerText);

        if (discountStatusElement.innerText === 'No Discount') {
            var discountedTotalCost = currentTotalCost * 0.85; // 15% discount
            totalCostElement.innerText = discountedTotalCost.toFixed(2);
            discountStatusElement.innerText = 'Discount Applied';
            applyDiscountButton.disabled = true; // Disable the button after applying the discount
            applyDiscountButton.style.display = 'none'; //Hide the button

            // Update the hidden input field with the discounted total
            var discountedTotalInput = document.getElementById('discounted_total');
            discountedTotalInput.value = discountedTotalCost.toFixed(2);
        }
    }
</script> -->

<!-- <script>
    // Function to apply the discounted total dynamically
    function applyDiscountedTotal() {
        var totalElement = document.getElementById('total_cost');
        var discountedTotalElement = document.getElementById('discounted_total');

        // Check if the discounted total element exists and is not empty
        if (discountedTotalElement && discountedTotalElement.innerText !== '') {
            var discountedTotal = parseFloat(discountedTotalElement.innerText);
            totalElement.innerText = discountedTotal.toFixed(2);
        }
    }

    // Call the function when the page loads
    window.onload = applyDiscountedTotal();
</script> -->
{% endblock %}