{% extends "layout.html" %}

{% block content %}
<div class="container mt-5">
  <h3>Customize Your Cake</h3>
  <form action="/customize" method="post">
    <div class="form-group">
      <label for="flavor">Select Flavor:</label>
      <select class="form-control" id="flavor" name="flavor">
        <option value="Chocolate">Chocolate</option>
        <option value="Vanilla">Vanilla</option>
        <option value="Strawberry">Strawberry</option>
      </select>
    </div>
    <div class="form-group">
      <label for="topping">Select Topping:</label>
      <select class="form-control" id="topping" name="topping">
        <option value="Sprinkles">Sprinkles</option>
        <option value="Chocolate Chips">Chocolate Chips</option>
        <option value="Fruit">Fruit</option>
      </select>
    </div>
    <div class="form-group">
      <label for="filling">Select Filling:</label>
      <select class="form-control" id="filling" name="filling">
        <option value="Strawberry Jam">Strawberry Jam</option>
        <option value="Chocolate Ganache">Chocolate Ganache</option>
        <option value="Cream Cheese">Cream Cheese</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock %}



