<!DOCTYPE html>
<html>
<head>
    <title>Create Cake Class</title>
</head>
<body>
    <h1>Create Cake Class</h1>
    <form action="/cakes" method="post">
        <label for="flavor">Flavor:</label>
        <input type="text" name="flavor" required><br>
        
        <label for="size">Size:</label>
        <input type="text" name="size" required><br>
        
        <label for="frosting">Frosting:</label>
        <input type="text" name="frosting" required><br>
        
        <label for="decoration">Decoration:</label>
        <input type="text" name="decoration" required><br>
        
        <input type="submit" value="Create Cake">
    </form>
</body>
</html>
