{% extends "layout.html" %}

{% block content %}

<div class="row" id="products_page">
    <div class="col-md-12">
        <h3>Products</h3>
        <hr>
        <div class="row">
            <form action="/shopping_cart" method="post">
                <div class="form-group">
                    <div class="row">
                        {% for product in products %}
                        <div class="col-md-4">
                            <div class="product_card" id="product_card">
                                <img src="{{ product.image_url }}" class="product_card-img" alt="...">
                                <div class="product_card-body">
                                    <h5 class="product_card-title">{{ product.item_name }}</h5>
                                    <p class="product_card-text">{{ product.info }}</p>
                                    <p class="product_card-price">${{ product.price }}</p>

                                    <label for="quantity">Quantity:</label> 
                                    <input type="number" class="quantity" id={{product.id}} name={{product.id}} min="0" max="10" value="0">

                                    <div class="product_card-buttons">
                                        <h6 class="product_card-button-header">Cake Flavors</h6>
                                        <input type="radio" id="{{ 'flavor-' ~ product.id }}" name="{{ 'flavor-' ~ product.id }}" value="Chocolate">
                                        <label for="{{ 'flavor-' ~ product.id }}">Chocolate</label>
                                        <input type="radio" id="{{ 'flavor-' ~ product.id }}" name="{{ 'flavor-' ~ product.id }}" value="Vanilla">
                                        <label for="{{ 'flavor-' ~ product.id }}">Vanilla</label>
                                        <input type="radio" id="{{ 'flavor-' ~ product.id }}" name="{{ 'flavor-' ~ product.id }}" value="Strawberry">
                                        <label for="{{ 'flavor-' ~ product.id }}">Strawberry</label>

                                        <h6 class="product_card-button-header">Toppings</h6>
                                        <input type="radio" id="{{ 'toppings-' ~ product.id }}" name="{{ 'toppings-' ~ product.id }}" value="Sprinkles">
                                        <label for="{{ 'toppings-' ~ product.id }}">Sprinkles</label>
                                        <input type="radio" id="{{ 'toppings-' ~ product.id }}" name="{{ 'toppings-' ~ product.id }}" value="Chocolate Chips">
                                        <label for="{{ 'toppings-' ~ product.id }}">Chocolate Chips</label>
                                        <input type="radio" id="{{ 'toppings-' ~ product.id }}" name="{{ 'toppings-' ~ product.id }}" value="Fruit">
                                        <label for="{{ 'toppings-' ~ product.id }}">Fruit</label>

                                        <h6 class="product_card-button-header">Fillings</h6>
                                        <input type="radio" id="{{ 'fillings-' ~ product.id }}" name="{{ 'fillings-' ~ product.id }}" value="Strawberry Jam">
                                        <label for="{{ 'fillings-' ~ product.id }}">Strawberry Jam</label>
                                        <input type="radio" id="{{ 'fillings-' ~ product.id }}" name="{{ 'fillings-' ~ product.id }}" value="Chocolate Ganache">
                                        <label for="{{ 'fillings-' ~ product.id }}">Chocolate Ganache</label>
                                        <input type="radio" id="{{ 'fillings-' ~ product.id }}" name="{{ 'fillings-' ~ product.id }}" value="Cream Cheese">
                                        <label for="{{ 'fillings-' ~ product.id }}">Cream Cheese</label>
                                    </div>
                                    

                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" id="index_buttons">
                        <button type="submit" class="btn btn-primary" id="shopping_cart_button">View Shopping Cart</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}