{% extends "layout.html" %}

{% block content %}
<div class="row" id="products_page">
    <div class="col-md-12">
        <h2>Shopping Cart</h2>
        <hr>
        <table>
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Quantity</th>
                    <th>Customization Options</th>
                    <th>Price</th>
                    <th>Image</th>
                </tr>
            </thead>
            <tbody>
                {% for item, details in order.items() %}
                    <tr>
                        <td>{{ item }}</td>
                        <td>{{ details['count'] }}</td>
                        <td>
                            {% if details['flavor'] %}
                                {{ details['flavor'] }}: +${{details['customization_cost_flavor']}} <br>
                            {% endif %}
                            {% if details['toppings'] %}
                                {{ details['toppings'] }}: +${{details['customization_cost_toppings']}}<br>
                            {% endif %}
                            {% if details['fillings'] %}
                                {{ details['fillings'] }}: +${{details['customization_cost_fillings']}}
                            {% endif %}
                        </td>
                        <td>${{ details['cost'] }}</td>
                        <td><img src="{{ details.image_url }}" class="product_card-img" style="float: left;"></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <h2>Your Total: {{total_cost}}</h2>

        <div class="row">
            <div class="col-md-12" id="index_buttons">
                <button onclick="history.go(-1)" class="btn btn-primary" id="continue_shopping_button">Continue Shopping</button>
            </div>
        </div>

        <form action="/apply_discount" method="POST">
            <label for="discount_code">Discount Code:</label>
            <input type="text" id="discount_code" name="discount_code">
            <input type="submit" value="Apply Discount">
        </form>

        <form action="/checkout" method="post">
            <div class="row">
                <div class="col-md-12" id="index_buttons">
                    <button type="submit" class="btn btn-primary" id="checkout_button">Checkout</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}